<form method="get" action="#" class="search_container">
  <input type="text" size="49" placeholder="　キーワード検索">
  <input class="search" type="submit" value="検索"><br>
  <input class="post" type="submit" value="投稿する">
</form>

